.content-cover {
  width: 100%;
  height: 100vh;
  max-width: 1800px;
  justify-content: center;
  margin: 0 auto;
  animation: show 0.3s linear;
}

.cover {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  justify-content: center;
}
.second-section {
  width: 100%;
  display: flex;
  max-width: 1800px;
  background: fixed;
  background-color: rgba(0, 0, 0, 0.192);
  background-image: url(../../../public/cover/bg_1.png);
}

.prefooter {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1800px;
  background: fixed;
  background-color: rgba(0, 0, 0, 0.192);
}

.cover::before {
    width: 1800px;
    height: 800px;
  position: absolute;
  content: "";
  transform: translateY(-300px) translateX(-200px);
  border-radius: 100%;
  background:  rgba(80, 6, 70, 0.192);
}

@keyframes show {
  from {
    opacity: 0;
    margin-left: -100%;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
