@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap?family=Montserrat&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.content-prefooter{
width: 100%;
margin: 0 auto;
justify-content: center;
margin-top: 6%;
}

.title-prefooter{
  width: 100%;
margin: 0 auto;
text-align: center;
}

.title-dk{
  margin-top: 1.5rem;
  font-family: Playfair Display;
  font-size: clamp(2rem,2.5rem,2.8rem);
  color: #eaefff;
}

.title-lg {
  margin-top: 1.5rem;
  color: #303755;
  font-family: Playfair Display;
  font-size: clamp(2rem,2.5rem,2.8rem);
  }



.content-targets{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 2.5rem;
  justify-content: space-around;
}


.target{
  width: 350px;
  height: 420px;
}

.target-img{
  max-width:100%;
  width: 60px;
  height:60px;
  margin: 0 auto;
}

.titlelg-target{
  color: #303755;
}

.titledk-target{
  color: #eaefff;
}

.titledk-target,.titlelg-target{
  margin: 0 auto;
  font-weight: 400;
  font-family: montserrat ;
  font-size: clamp(1rem,1.5rem, 1.8rem);
  max-width: 260px;
  margin-top: 1.5rem;
  text-align: center;
}
.descripdk-target{
color: #eaefff;
}

.descriplg-target{
  color: #303755;

}

.descripdk-target,.descriplg-target{
width: 100%;
font-size: clamp(.8rem,.9rem,1rem);
font-family: poppins;
margin-top: 1rem;
max-width: 300px;
margin: 0 auto;
margin-top: 1rem;
text-align: center;
}