@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.pages{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  animation: show-page .5s linear;
}

@keyframes show-page {
  from{
    opacity: 0;
    margin-left: -50%;
    
  }

  to{
    opacity: 1;
  }

}



.container-form {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  max-width: 800px;
    gap: 1rem;

  margin: 0 auto;
}

.logup,
.login {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  backdrop-filter:blur(30px) brightness(0.33);
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
}

.content-form-login {
  align-items: center;
  animation: to-right linear .3s;
}

.content-form-logup {
  padding-top: 1rem;
  justify-content: center;
  animation: to-left linear .3s;
}
.content-form-logup,
.content-form-login {
  width: 100%;
  display: block;
  max-width: 400px;
  height: 100%;
  justify-content: center;
}

.text-form {
  width: 100%;
  height: 50px;
}

.text-form h3 {
  font-size: 28px;
  font-family: poppins;
  color: #d5672f;
  font-weight: 700;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  padding: 0 1.1rem;
  align-items: center;
  position: relative;
  color: #fff;
  margin: 0 auto;
  gap: 0.5rem;
}

.flex {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.flex label {
  max-width: 175px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #d5672f;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}
.button-form {
  width: 100%;
  max-width: 400px;
  height: 35px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.custum-file-upload {
  height: 30px;
  width: 80%;
  display: flex;
  align-items: space-between;
  gap: 20px;
  margin: 0 auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #e8e8e8;
  background-color: #212121;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px #e8e8e8;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: #e8e8e8;
}

.custum-file-upload .text-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text-input span {
  font-weight: 400;
  color: #e8e8e8;
}

.custum-file-upload input {
  display: none;
}

.submit {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: clamp(1rem, 1.3rem, 1.8rem);
  transform: 0.3s ease;
  background-color: #7a163c;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  transition: all 0.3s ease-out;
  border: 1px solid #f7f7f7;
}

.submit:hover {
  background-color: #2a0532;
  color: #d5672f;
  border: 1px solid #cb3390;
}

/*-------------------*/

.login.content-overlay-login {
  animation: to-left linear 0.1s;
}
.logup.content-overlay-logup {
  animation: to-right linear 0.1s;
}

.content-overlay-logup,
.content-overlay-login {
  width: 100%;
  max-width: 400px;
  display: flex;
background-image: linear-gradient(to left bottom, #46353f, #5b4659, #6e5977, #7c6f97, #8586b9, #878dcd, #8895e1, #869df6, #8f93fe, #9f86ff, #b475ff, #cb5ffb);
}

.overlay-logup {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: block;
  text-align: center;
  justify-content: center;
}

.overlay-logup h4 {
  line-height: 2.3rem;
  margin-top: 3.5rem;
  font-size: 48px;
  color: #f7f7f7;
  font-weight: 700;

  font-family: "Courier New", Courier, monospace;
}

.overlay-logup p {
  width: 250px;
  height: 90px;
  margin: 0 auto;
  margin-top: 30%;
  text-align: center;
  font-family: poppins;
  line-height: 1.2rem;
  font-weight: 500;
  color: #f7f7f7;
}

.btn-form {
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 12px;
  border: 1px solid #cb3390;
  background: #c27f19;
  color: #f7f7f7;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-form:hover {
  background: #f7f7f7;
  color: #c27f19;
}
/*----------------------*/
@keyframes to-right {
  0% {
    opacity: 0;
    z-index: -1;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    opacity: 0;
    z-index: -1;

    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .content-form-logup {
    order: 1;
  }
  .content-overlay-logup {
    order: 2;
    gap: 1rem;
  }

  .content-overlay-login {
    order: 2;
  }
}
