@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.sub-header {
  width: 100%;
  height: 38px;
  backdrop-filter: blur(10px) brightness(0.22);
  overflow: hidden;
  display: flex;
  flex-grow: initial;
  justify-content:space-around;
  top: 0;
  margin: 0 auto;
  box-shadow: 1px 1px 4px #000300;
  transition: all 0.3s ease-out;
}

.tittle-subheader {

  width: 60px;
  height: 30px;
  text-align:start;
}

.tittle-subheader h2 {
  width: 100%;
  height: 30px;
  font-size: clamp(1rem, 1.3rem, 1.5rem);
  padding-left: 0.5rem;
  color: #d2a517;
  text-shadow: 1px 1px 1px #5c2a60;
  font-family: "Abril Fatface";
  font-weight: 400;
  margin-left: 1rem;
}

.content-red {
  width: 200px;
  height: 35px;
  display: flex;
  position: absolute;
  justify-content: center;
}

.change-theme {
  width: 60px;
  height: 35px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.sub-hdk .change-theme:hover {
  filter: drop-shadow(1px 1px 3px #f7f7f7);
}

.sub-hlg .change-theme:hover {
  filter: drop-shadow(1px 1px 3px #5c2a60);
}

